@import '../global/globalColors.scss';

.auth {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: $dark-color;
    color: $primary-color;
    background-image: url("../../imgs/blackGoldBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        .card {
            width: 300px;
            border: 1px solid #D4AF37;
            border-radius: 10px;
            padding: 1.75rem;
            box-shadow: 0 0 1.5rem #D4AF37;

            .card-title {
                text-align: center;
                font-size: 1.75rem;
                margin-bottom: 1.5rem;
            }
            
            p {                    
                margin-bottom: 1rem;
            }

            .form-group {
                position: relative; /* Add this line to make the eye-icon positioning relative to this element */
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;

                label {
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                input {
                    padding: 10px;
                    border: 1px solid #1c1c1c;
                    border-radius: 5px;
                    outline: none;

                    &:focus {
                    border-color: #D4AF37;
                    }
                }

                .eye-icon {
                    position: absolute;
                    right: 10px;
                    top: 75%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    font-size: 20px;
                    color: #777;
                }
            }

            button {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #D4AF37;
                color: #1c1c1c;
                font-size: 1rem;
                font-weight: bold;
                margin: 1rem auto;
                cursor: pointer;

                &:hover {
                    background-color: #1c1c1c;
                    color: #D4AF37;
                }
            }
        }
    }
}